* {
    background-color:gray;
}




.msg1 {
    font-size: 25pt;
    text-align: center;
    transition: 1s;
}

.msg1:hover {
    color: yellow;
}


.welcome {
    color: black;
    text-align: center;
    font-size: 38pt;
    transition: 1s;   
}

.welcome:hover {
    color: yellow;
}

