body {
    height: 100vh;
    background-image: linear-gradient(to left, #ffd89b, #19547b);
}



.upm {
    font-size: 30px;
    color: black;
}


.up {
    color: black;
    font-style: italic;
    font-size: 45pt;
    text-align: center;
    transition: 2s;
}

.up:hover {
    color: blue;
}

.msg1 {
    color: black;
    font-size: 25pt;
    text-align: center;
    transition: 1s;
}

.msg1:hover {
    color: orange;
}


.welcome {
    font-style: initial;
    color: yellow;
    text-align: center;
    font-size: 38pt; 
}


