* {
    background-color:gray;
}



.version {
    text-align: center;
    color: black;
    font-size: 26pt;
    transition: 1s;
    height: 200px;
}
.version:hover {
    color: darkblue;
}

.INFO {
    color: black;
    font-size: 48pt;
    text-align: center;
    transition: 1s;
}

.INFO:hover {
    color: blue;
}

.msg1 {
    text-align: center;
    color: black;
    font-size: 45pt;
    transition: color 1s;
    
}

.msg1:hover {
    color: yellow;
}
